# URL de conexión a la base de datos MongoDB
MONGODB_URI=mongodb+srv:

# Puerto en el que correrá la aplicación
PORT=4010

# Entorno de la aplicación
NODE_ENV=development
#NODE_ENV=production

# Nivel de logging
LOG_LEVEL=info


# Origen permitido para CORS
CORS_ORIGIN=localhost

# Directorio de carga de archivos
UPLOAD_DIR=uploads